<div class="form-group">
  <label class="col-sm-2 control-label">{{:: 'WIDGET.EXAMPLE.SETTINGS.TITLE.STRING' | translate }}</label>
  <div class="col-sm-9">
    <input class="form-control" type="text" ng-model="model.settings.title" required>
  </div>
  <div class="col-sm-1 hidden-xs">
    <help tip="WIDGET.EXAMPLE.SETTINGS.TITLE.HELP"></help>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{:: 'WIDGET.EXAMPLE.SETTINGS.SOMESTRING.STRING' | translate }}</label>
  <div class="col-sm-9">
    <input class="form-control" type="text" ng-model="model.settings.someString">
  </div>
  <div class="col-sm-1 hidden-xs">
    <help tip="WIDGET.EXAMPLE.SETTINGS.SOMESTRING.HELP"></help>
  </div>
</div>
